form.add-car{
    padding: 10px;
}
:root {
    --logo-color: #186e8d;
}

body {
    margin: 0;
    font-family: Montserrat Regular, sans-serif;
    font-size: 14px;
}
button, input.button {
    background: #ddf6ff;
    /*border-color: var(--logo-color);*/
    border-width: 1px;
    font-family:  "Montserrat Medium", sans-serif;
    /*Roboto*/
    font-size: 12px;
    border-radius: 4px;
    padding: 5px 10px;
}
h4.message{
    display: initial;
}

.del_button {
    color: #d53a3a;
    background: #ddf6ff;
    border-width: 1px;
    font-family:  "Montserrat Medium", sans-serif;
    font-size: 12px;
    border-radius: 4px;
    padding: 5px 10px;
}


