.cars-filter {
    //background: aqua;
    border-bottom: 2px solid var(--logo-color);
    display: block;
}

.cars-filter form {
    display: flex;
    flex-direction: row;
}

.filter-name {
    font-size: 16px;
    color: #0e7dc7;
    display: block;
}

.filter {
    width: 140px;
}

.filter-dvs {
    width: 200px;
}
.filter-dvs div {
    display: block;
    padding-top: 0;
}

.filter-dates {
    padding-top: 0;
    width:210px;
    height: 75px;
}

.cars-filter-apply {
    display: block;
}

th {
    background: antiquewhite;
}
tr:nth-child(even) {
    background: #ddf6ff;
}
table {
    border-collapse: collapse;
}

input.button-book{
    background: antiquewhite;
    height: 24px;
    padding: 0 10px;
    border-width: 1px;
    font-family:  "Montserrat Medium", sans-serif;
    /*Roboto*/
    font-size: 12px;
    border-radius: 4px;
}

/*==========================================*/

form.local {
    display: inline-block;
}
form.logout {
    display: inline-block;
}
button.yourpage {
    display: inline-block;
}
td.price {
    font-weight: bold;
}
td {
    text-align: center;
}
p.nocars {
    text-align: center;
    font-weight: bolder;
}