
form {
    display: inline-block;
}

div.buttons {
    display: inline-block;
    padding: 0;
}
div.buttons-approve {
    width: 200px;
}
form.cancel{
    margin-top: 14px;
}

th,td {
    padding-right: 15px;
    padding-bottom: 15px;
}

td.desc {
    width: 150px;
}

span.cancel {
    color: blue;
}

p.noorders {
    text-align: center;
    font-weight: bolder;
}

button{
    margin: 5px;
}
button.form{
    margin: 0;
}

input.button-id{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    background: none;
    border: none;
    margin-bottom: 0;
}

th.date {
    width: 70px;
}


