.del_button {
    color: #d53a3a;
    background: #ddf6ff;
    border-width: 1px;
    font-family:  "Montserrat Medium", sans-serif;
    font-size: 12px;
    border-radius: 4px;
    padding: 5px 10px;
}

form {
    display: inline-block;
}

div.buttons {
    display: inline-block;
    padding: 0;
}

table{
    font-size: 14px;
}

table.big{
    font-size: 12px;
}
td {
    text-align: center;
}

th,td {
    padding-right: 15px;
    padding-bottom: 5px;
}

td.desc {
    width: 150px;
}

td.cancel {
    color: red;
}

p.ok_message {
    color: blue;
}

p.noorders {
    text-align: center;
    font-weight: bolder;
}

button{
    margin: 5px;
}

input.button-id{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    background: none;
    border: none;
    margin-bottom: 0;
}


